<!DOCTYPE html>
<html lang="en">
    <head>
    </head>
    <body>
        <p>Dear, {{ name }}</p>
        <p>Thanks for your registration.</p>
        <p>We sincerely hope you would find our website helpful and look forwards to your collabration with this website to accelerate resisting against the dictatorship together.</p>
        <p>As a first step, please follow the link below in order to confirm your registration.</p>
        <a href="http://127.0.0.1:8000/confirm">Confirm Registration</a>
        <p>Thank you, Comarde</p>
        <p>Justice will prevail. Democracy will prevail. Federal Union will prevail.</p>
    </body>
</html>
