{% load static %}
<br><br><br class="avoid_navbar"><br class="avoid_navbar">
<div class="container-md">
    <div class="text-center">
        <img width="50" src="{% static 'springrevolution/images/three-fingers.png' %}" alt="three fingers salute">
        <h1 style="font-family: Trirong;" class="card-title">Donations Hub</h1>
        <h3 style="font-family: Trirong;" class="category-name card-title"></h3>
    </div>
    <img class="ordering_system img-fluid" data-toggle="tooltip" data-bs-placement="left" title="About Donation Links" data-bs-toggle="modal" href="#about_donation_links" src="{% static 'springrevolution/images/info.png' %}" alt="Info">
    <div class="accordion links_accordion" id="accordionExample"></div>
</div>
<br>